* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: black;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 45px;
  display: flex;
}

.header .header1 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header2 {
  width: 70%;
  height: 100%;
}

.header .header2 input {
  width: 80%;
  height: 70%;
  outline: none;
  border: 0;
  margin-top: 3%;
  background: #eee;
  padding-left: 10px;
  border-radius: 5px;
}

.nav {
  margin: 10px;
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: space-around;
}

.nav a {
  padding: 8px;
  color: black;
}

.nav .active {
  color: tomato;
  border-bottom: 2px solid tomato;
}

.content {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.tab1 {
  width: 100%;
}

.tab1 div {
  margin: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab1 .last {
  border-bottom: none;
  display: flex;
  justify-content: center;
  color: teal;
}

.swiper {
  width: 100%;
  height: 150px;
}

.swiper .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

.icon {
  margin: 20px;
  display: flex;
}

.icon li {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.icon li span {
  display: block;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  background: tan;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.icon li span i {
  color: #fff;
}

.icon li .aa {
  background: tomato;
}

.icon li .bb {
  background: cornflowerblue;
}

.icon li .cc {
  background: saddlebrown;
}

.icon li .dd {
  background: palevioletred;
}

.pin {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.pin div {
  margin: 10px;
  width: 100px;
  height: 80px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  border-radius: 10px;
  background: palevioletred;
}

.pin .a1 {
  background: orange;
}

.pin .a2 {
  background: pink;
}

.pin .a3 {
  background: plum;
}

.pin .a4 {
  background: greenyellow;
}

.nav-1 {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav-1 a {
  padding: 5px;
}

.nav-1 .active {
  color: tomato;
  border-bottom: 1px solid tomato;
}

.isLoading {
  text-align: center;
  height: 400px;
  line-height: 400px;
  color: #666;
}

.lie-item {
  width: 100%;
}

.lie-item .bb {
  margin: 20px;
  padding: 5px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.lie-item .dl {
  display: flex;
  margin: 10px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.lie-item .dl dt {
  margin-right: 10px;
}

.lie-item .dl dd li {
  margin: 5px;
}

.detail {
  width: 100%;
}

.detail .dl {
  display: flex;
  margin: 20px;
  background: #eee;
}

.detail .dl dt {
  margin-right: 10px;
}

.detail .dl dd li {
  margin: 5px;
}

.detail .dl dd span {
  display: inline-block;
  margin: 10px;
  padding: 3px;
  background: tomato;
  border-radius: 5px;
  color: #fff;
}
